
.top-container {
    height: 65px;
    position: relative;
    font-family: Candara, SansSerif;
    font-size: 25px;
    color: black;
    background-color: #FFC3E2;
}

span {
    background: #FFFFFF;
    position: relative;
    color: #1B17ED;
    border: 1px solid black;
}

.list-item:not(.sub) {
    list-style-type: none;
    display: inline-block;
    width: 60px;
}

.list-item, .sub {
    list-style-type: none;
    padding: 30px;
}

.sub-menu {
    position: absolute;
    background-color: #5AE912;
    width: 110px;
    top: 65px;
    display: none;
    border: 2px solid black;
}

.top-container ul {
    display: inline;
}

.about:hover .sub-menu {
    display: block;
}

.icon-group {
    float: right;
}

.button {
    position: absolute;
    bottom: 0;
    margin: 30px;
}

/*photo*/
.photo-container {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

}

.photo-img {
    flex-grow: 1;
    margin: 20px;
    /*width: 100px;*/
    height: 200px;
}

.photo-img:hover {
    flex-grow: 3;
    margin: 20px;
    /*width: 100px;*/
    height: 200px;
}

/*    footer     */
footer {
    background: hotpink;
    padding: 20px 0;
    text-align: center;
    margin-top: 100%; /*Отступ футера, см. ниже*/
}

html, body {
    background: lightgray;
    margin: 0;
    padding: 0;
    height: 100%;
}

/*картинки збільшуються*/
.flex-container {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-item {
    margin: 20px;
}

.flex-item:hover {
    transform: scale(1.1);
    transition: transform 1s;
    transition: transform 1s;
}