table {
    border: 2px solid black;
    border-collapse: collapse;

}

td {
    padding: 5px;
    border: 2px solid black;
}

th {
    padding: 10px;
    border: 1px solid black;
}

.row-1 {
    background-color: lightgray;
}

.row-2 {
    background-color: lightgray;
}


