.main-container {
    display: flex;

}

.aside-container {
    width: 30%;
}

.main-text {
    background-color: red;
    height: 200px;
}

@media only screen and (max-device-width: 600px), only screen and (max-width: 600px) {


    .menu-container, .menu-item {
        display: block;
        font-size: 30px;

    }
}