.top-container {
    border: 1px solid black;
    height: 30px;
    position: relative;
}

/*.list-item:not(.sub) {
    display: inline-block;
    width: 60px;
}

.list-item, .sub {
    list-style-type: none;
}

.top-container ul {
    display: inline;
}*/
.icon-group {
    float: right;
}

/*.sub-menu {
    position: absolute;
    background-color: aquamarine;
    width: 60px;
    top: 31px;
    display: none;
}

.about:hover .sub-menu {
    display: block;
}

.box-model {
    margin: 10px 20px 15px;
    border: 5px solid black;
    padding: 20px;
    width: 100px;
}
*/
.inline-block {
    display: inline-block;
}

.container {
    width: 200px;
}

.second {
    margin: 30px;
}

